node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
.pnpm-debug.log
*.log

out/
output/
dist/
build/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~

__MACOSX/

*.tmp
*.temp
.cache/
.env
.env.local
